<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <!--prediction2-->
    <servlet>
        <servlet-name>prediction</servlet-name>
        <servlet-class>predictions2.PredictionsServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>prediction</servlet-name>
        <url-pattern>/predictions2</url-pattern>
    </servlet-mapping>
    <!--prediction2 Over-->

</web-app>